*.exe
build
dsc
mbm
mcm
mfm
mrm
text
dgvc/dump-dsc
dgvc/gen-dsc
dgvc/gen-text

*.gba
hacks/*.gba

*.yy.c

*.d


*.bak


*-orig
*-new

text.txt
text-orig.txt
textrawdump.txt

